<img src="https://tapalque.tur.ar/logo_1.png" alt="Logo Tapalque Enamora">

<h1>Hola!!</h1>
<h2>Tienes un nuevo mail desde el sitio</h2>

<div>
    De: {{lastName}}, {{firstName}}
    Email: {{email}}
    Mensaje: {{description}}
</div>

<h3>Que tengas un buen día!</h3>